/*
    @description: Main sCSS file
    @author: luizf-lf
    @since: 2019/10/25
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto:300,400&display=swap');

$image: 'https://images.unsplash.com/photo-1479935276380-b9561c38eceb?h=1080';
// $image: 'https://images.unsplash.com/photo-1569271532860-dd35503aaf1f?h=1080';
// $image: 'https://derpicdn.net/img/view/2019/10/23/2176625.png';

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    /*this thing resets values and makes the bg image responsive*/
}
  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Questrial', sans-serif;
    background: url($image) fixed no-repeat;
    background-size: cover;
    background-position: center;
}


/* -=Window - Begin of CSS=- */

.window{
    height: 400px;
    width: 800px;
    box-shadow: .6em .6em 2em rgba(0, 0, 0, 0.8);
    border: 1px solid #131313;
    border-top: 0;
    background: inherit;
    overflow: hidden;
    position: absolute;
    &::before{
        height: 460px;
        width: 860px;
        content: "";
        position: absolute;
        top: -30px;
        left: -30px;
        bottom: 0;
        right: 0;
        background: inherit;
        box-shadow: inset 0 0 0 600px rgba($color: #000000, $alpha: 0.5);
        filter: blur(15px);
    }
}

.w-title{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9%;
    background: #131313;
}

.title-text{
    margin: 0;
    color: #ffffff;
    padding: 0 1em;
}

.btns{
    margin-top: .1em;
    img{
        padding: .8em;
        height: .8em;
        transition: 200ms;
    }
}

.w-body{
    position: absolute;
    margin-top: .5em;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 91%;
    p{
        padding: 1em;
        font-style: italic;
    }
}

/* -=Window - End of CSS=- */


/* -=Taskbar - Begin of CSS=- */

.taskbar{
    width: 100%;
    height: 2.8em;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

@mixin tb-imgs{
    img, div{
        height: 1.2em;
        padding: .8em;
    }
    img:hover, div:hover{
        background: rgba($color: #494949, $alpha: 0.7);
    }
    a{
        margin-top: .2em;
    }
}

.t-start{
    display: flex;
    align-items: center;
    @include tb-imgs;
    .active{
        box-sizing: border-box;
        height: 100%;
        padding: .6em;
        background: rgba($color: #494949, $alpha: 0.7);
        border-bottom: 2px solid #ffffff;
    }
}
.t-icons{
    @include tb-imgs;
    display: flex;
    border-right: 1px solid #a3a3a3;
    margin-right: .5em;
    padding-right: .3em;
    align-items: center;
    color: #ffffff;
    .t-icon{
        padding: 1em .4em;
        font-size: .8em;
    }
}

/* -=Taskbar - End of CSS=- */


/* -=Media Queries=- */
@media screen and (max-width: 840px){
    .w-text{
        font-size: 32px;
    }
    .window{
        width: 90%;
    }
}

@media screen and (max-width: 640px){
    .sm-d-none{
        display: none;
    }
}