p {
	font-family: arial;
	font-size: 20px;
}

#display_calc {
	width: 220px;
	height: 25px;
	border: 2px solid #0d0d41;
	font-family: arial;
	font-size: 20px;
}

button {
	width: 52px;
	height: 52px;
	background-color: #006666;
	color: #edf2f4;
	border: none;
	cursor: pointer;
	margin: 2px;
}

button:hover {
	opacity: 0.7;
	animation-name: tempo;
	animation-duration: 300ms;
}

#calculadora {
	width: 250px;
	height: 320px;
	margin: auto;
}

@keyframes tempo {
	from {opacity: 1;}
	to {opacity: 0.7;}
}

#divRodape {
	margin: auto;
	width: 100%;
	bottom: 0;
	position: fixed;
}

#linkGit {
	background-color: #24292e;
	color: white;
}

.linkExt:link, .linkExt:visited{
	font-family: arial;
	font-size: 13px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}