* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1b1b1b;
  color: #ffffff;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  p {
    color: #bbbbbb;
    margin: 1rem 0;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    width: 300px;

    label {
      color: #bbbbbb;
      font-weight: bold;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    input {
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 2px solid #bbbbbb;
      color: #ffffff;
      padding: 0.15rem;

      transition: background-color 300ms;

      &:focus {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      span {
        font-size: 2.5rem;
      }
    }
  }
}
