.bfg-header {
  margin-top: 5rem;
  padding: 2rem;

  width: 100%;
  background-color: var(--gray);
  border: 2px solid var(--dark-gray);

  border-radius: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.bfg-header > h1 {
  margin: 0;
}

.actionButtons {
  width: 100%;
  display: flex;
}
